@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), local('Inconsolata-Regular'), url('/fonts/Inconsolata/Inconsolata-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: local('Inconsolata'), local('Inconsolata-Bold'), url('/fonts/Inconsolata/Inconsolata-Bold.ttf') format('truetype');
}


* {
    box-sizing: border-box;
    user-select: none;
}


body {
    display: flex;

    margin: 0 auto;
    padding: 0;
    height: 100vh;

    font-family: 'Inconsolata', Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: calc(16px + 2.5vw);
    text-align: center;
}

.container {
    width: calc(100vw - 10rem);
    max-width: 960px;

    margin: 0 auto;
    align-self: center;
}

h1, .header {
    display: block;
    font-size: 3em;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0.33em;
}

small {
    font-size: 0.5em;
}

a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    pointer-events: all;
}
a:visited {
    color: blue;
}

button {
    appearance: none;

    font-size: 0.8em;
    color: blue;

    padding: .3em 0.7em;
    background: transparent;
    border: .1em solid black;

    cursor: pointer;
    pointer-events: all;
}

button:hover {
    text-decoration: underline;
}

button:disabled {
    border-color: silver;
    color: silver;
    text-decoration: none;
    cursor: auto;
}

button + button {
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.checkbox {
    font-size: 0.3em;
    margin: 3em 0;
}
.checkbox input[type="checkbox"] {
    pointer-events: all;
    cursor: pointer;
    appearance: none;
    position: relative;

    color: inherit;
    font-size: 1em;

    width: 1.2em;
    height: 1.2em;
    border: 0.1em solid currentColor;
    outline: none;
    line-height: 1em;
    margin-right: 1em;
}
.checkbox input[type="checkbox"]:after {
    display: block;
    text-align: center;
    content: "\00a0";
}
.checkbox input[type="checkbox"]:checked:after {
    content: "✔";
}
.checkbox label {
    pointer-events: all;
    cursor: pointer;
}

.actions {
    margin: 1em 0;
}

.dropzone {
    height: calc(100vh - 10rem);
    max-height: 640px;

    padding: 1rem;
    border-radius: 1em;
    border: 0.2em dashed silver;

    color: silver;
}

.dropzone * {
    pointer-events: none;
}

.dropzone.dragging {
    border-color: black;
    color: black;
}

.progress {
    width: 100%;
    height: 100%;
    display: flex;
}

.progress .container {
    mix-blend-mode: difference;
    color: white;
}

.copyzone {
    position: fixed;
    top: 0;
    left: 0;
    width: 2em;
    height: 2em;
    padding: 0;
    margin: 0;
    user-select: all;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}
