@font-face {
  font-family: 'fontello';
  src: url('/fonts/Fontello/fontello.eot?98259605');
  src: url('/fonts/Fontello/fontello.eot?98259605#iefix') format('embedded-opentype'),
       url('/fonts/Fontello/fontello.woff2?98259605') format('woff2'),
       url('/fonts/Fontello/fontello.woff?98259605') format('woff'),
       url('/fonts/Fontello/fontello.ttf?98259605') format('truetype'),
       url('/fonts/Fontello/fontello.svg?98259605#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?98259605#fontello') format('svg');
  }
}
*/

 [class^="i-"]:before, [class*=" i-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.i-down:before { content: '\e800'; } /* '' */
.i-left:before { content: '\e801'; } /* '' */
.i-right:before { content: '\e802'; } /* '' */
.i-up:before { content: '\e803'; } /* '' */
.i-anchor:before { content: '\e804'; } /* '' */
.i-announcement:before { content: '\e805'; } /* '' */
.i-apparel:before { content: '\e806'; } /* '' */
.i-arrow-outline-down:before { content: '\e807'; } /* '' */
.i-arrow-outline-left:before { content: '\e808'; } /* '' */
.i-arrow-outline-right:before { content: '\e809'; } /* '' */
.i-arrow-outline-up:before { content: '\e80a'; } /* '' */
.i-arrow-thick-down:before { content: '\e80b'; } /* '' */
.i-arrow-thick-left:before { content: '\e80c'; } /* '' */
.i-arrow-thick-right:before { content: '\e80d'; } /* '' */
.i-arrow-thick-up:before { content: '\e80e'; } /* '' */
.i-arrow-thin-down:before { content: '\e80f'; } /* '' */
.i-arrow-thin-left:before { content: '\e810'; } /* '' */
.i-arrow-thin-right:before { content: '\e811'; } /* '' */
.i-arrow-thin-up:before { content: '\e812'; } /* '' */
.i-artist:before { content: '\e813'; } /* '' */
.i-at-symbol:before { content: '\e814'; } /* '' */
.i-attachment:before { content: '\e815'; } /* '' */
.i-backspace:before { content: '\e816'; } /* '' */
.i-backward:before { content: '\e817'; } /* '' */
.i-backward-step:before { content: '\e818'; } /* '' */
.i-badge:before { content: '\e819'; } /* '' */
.i-battery-full:before { content: '\e81a'; } /* '' */
.i-battery-half:before { content: '\e81b'; } /* '' */
.i-battery-low:before { content: '\e81c'; } /* '' */
.i-beverage:before { content: '\e81d'; } /* '' */
.i-block:before { content: '\e81e'; } /* '' */
.i-bluetooth:before { content: '\e81f'; } /* '' */
.i-bolt:before { content: '\e820'; } /* '' */
.i-heart-empty:before { content: '\e821'; } /* '' */
.i-heart:before { content: '\e822'; } /* '' */
.i-bookmark:before { content: '\e823'; } /* '' */
.i-bookmark-outline:before { content: '\e824'; } /* '' */
.i-bookmark-outline-add:before { content: '\e825'; } /* '' */
.i-book-reference:before { content: '\e826'; } /* '' */
.i-border-all:before { content: '\e827'; } /* '' */
.i-border-bottom:before { content: '\e828'; } /* '' */
.i-border-horizontal:before { content: '\e829'; } /* '' */
.i-border-inner:before { content: '\e82a'; } /* '' */
.i-border-left:before { content: '\e82b'; } /* '' */
.i-border-none:before { content: '\e82c'; } /* '' */
.i-border-outer:before { content: '\e82d'; } /* '' */
.i-border-right:before { content: '\e82e'; } /* '' */
.i-border-top:before { content: '\e82f'; } /* '' */
.i-border-vertical:before { content: '\e830'; } /* '' */
.i-box:before { content: '\e831'; } /* '' */
.i-brightness-down:before { content: '\e832'; } /* '' */
.i-brightness-up:before { content: '\e833'; } /* '' */
.i-login:before { content: '\e834'; } /* '' */
.i-logout:before { content: '\e835'; } /* '' */
.i-edit:before { content: '\e836'; } /* '' */
.i-bug:before { content: '\e837'; } /* '' */
.i-buoy:before { content: '\e838'; } /* '' */
.i-calculator:before { content: '\e839'; } /* '' */
.i-calendar:before { content: '\e83a'; } /* '' */
.i-camera:before { content: '\e83b'; } /* '' */
.i-chart:before { content: '\e83c'; } /* '' */
.i-chart-bar:before { content: '\e83d'; } /* '' */
.i-chart-pie:before { content: '\e83e'; } /* '' */
.i-chat-bubble-dots:before { content: '\e83f'; } /* '' */
.i-ok:before { content: '\e840'; } /* '' */
.i-checkmark:before { content: '\e841'; } /* '' */
.i-cheveron-down:before { content: '\e842'; } /* '' */
.i-cheveron-left:before { content: '\e843'; } /* '' */
.i-cheveron-outline-down:before { content: '\e844'; } /* '' */
.i-cheveron-outline-left:before { content: '\e845'; } /* '' */
.i-cheveron-outline-right:before { content: '\e846'; } /* '' */
.i-cheveron-outline-up:before { content: '\e847'; } /* '' */
.i-cheveron-right:before { content: '\e848'; } /* '' */
.i-cheveron-up:before { content: '\e849'; } /* '' */
.i-clipboard:before { content: '\e84a'; } /* '' */
.i-close:before { content: '\e84b'; } /* '' */
.i-close-outline:before { content: '\e84c'; } /* '' */
.i-close-solid:before { content: '\e84d'; } /* '' */
.i-cloud:before { content: '\e84e'; } /* '' */
.i-cloud-upload:before { content: '\e84f'; } /* '' */
.i-code:before { content: '\e850'; } /* '' */
.i-coffee:before { content: '\e851'; } /* '' */
.i-cog:before { content: '\e852'; } /* '' */
.i-color-palette:before { content: '\e853'; } /* '' */
.i-compose:before { content: '\e854'; } /* '' */
.i-computer-desktop:before { content: '\e855'; } /* '' */
.i-computer-laptop:before { content: '\e856'; } /* '' */
.i-conversation:before { content: '\e857'; } /* '' */
.i-copy:before { content: '\e858'; } /* '' */
.i-credit-card:before { content: '\e859'; } /* '' */
.i-currency-dollar:before { content: '\e85a'; } /* '' */
.i-dashboard:before { content: '\e85b'; } /* '' */
.i-date-add:before { content: '\e85c'; } /* '' */
.i-dial-pad:before { content: '\e85d'; } /* '' */
.i-directions:before { content: '\e85e'; } /* '' */
.i-th-large:before { content: '\e85f'; } /* '' */
.i-th:before { content: '\e860'; } /* '' */
.i-dots:before { content: '\e862'; } /* '' */
.i-download:before { content: '\e863'; } /* '' */
.i-duplicate:before { content: '\e864'; } /* '' */
.i-edit-copy:before { content: '\e865'; } /* '' */
.i-edit-crop:before { content: '\e866'; } /* '' */
.i-edit-cut:before { content: '\e867'; } /* '' */
.i-edit-pencil:before { content: '\e868'; } /* '' */
.i-education:before { content: '\e869'; } /* '' */
.i-envelope:before { content: '\e86a'; } /* '' */
.i-exclamation-outline:before { content: '\e86b'; } /* '' */
.i-exclamation-solid:before { content: '\e86c'; } /* '' */
.i-explore:before { content: '\e86d'; } /* '' */
.i-factory:before { content: '\e86e'; } /* '' */
.i-fast-forward:before { content: '\e86f'; } /* '' */
.i-fast-rewind:before { content: '\e870'; } /* '' */
.i-film:before { content: '\e871'; } /* '' */
.i-filter:before { content: '\e872'; } /* '' */
.i-flag:before { content: '\e873'; } /* '' */
.i-flashlight:before { content: '\e874'; } /* '' */
.i-folder:before { content: '\e875'; } /* '' */
.i-folder-outline:before { content: '\e876'; } /* '' */
.i-folder-outline-add:before { content: '\e877'; } /* '' */
.i-format-bold:before { content: '\e878'; } /* '' */
.i-format-font-size:before { content: '\e879'; } /* '' */
.i-format-italic:before { content: '\e87a'; } /* '' */
.i-format-text-size:before { content: '\e87b'; } /* '' */
.i-format-underline:before { content: '\e87c'; } /* '' */
.i-forward:before { content: '\e87d'; } /* '' */
.i-forward-step:before { content: '\e87e'; } /* '' */
.i-gift:before { content: '\e87f'; } /* '' */
.i-globe:before { content: '\e880'; } /* '' */
.i-hand-stop:before { content: '\e881'; } /* '' */
.i-hard-drive:before { content: '\e882'; } /* '' */
.i-headphones:before { content: '\e883'; } /* '' */
.i-star:before { content: '\e884'; } /* '' */
.i-home:before { content: '\e885'; } /* '' */
.i-hot:before { content: '\e886'; } /* '' */
.i-hour-glass:before { content: '\e887'; } /* '' */
.i-inbox:before { content: '\e888'; } /* '' */
.i-inbox-check:before { content: '\e889'; } /* '' */
.i-inbox-download:before { content: '\e88a'; } /* '' */
.i-inbox-full:before { content: '\e88b'; } /* '' */
.i-indent-decrease:before { content: '\e88c'; } /* '' */
.i-indent-increase:before { content: '\e88d'; } /* '' */
.i-information-outline:before { content: '\e88e'; } /* '' */
.i-information-solid:before { content: '\e88f'; } /* '' */
.i-key:before { content: '\e890'; } /* '' */
.i-keyboard:before { content: '\e891'; } /* '' */
.i-layers:before { content: '\e892'; } /* '' */
.i-library:before { content: '\e893'; } /* '' */
.i-light-bulb:before { content: '\e894'; } /* '' */
.i-link:before { content: '\e895'; } /* '' */
.i-list:before { content: '\e896'; } /* '' */
.i-list-add:before { content: '\e897'; } /* '' */
.i-star-empty:before { content: '\e898'; } /* '' */
.i-load-balancer:before { content: '\e899'; } /* '' */
.i-location:before { content: '\e89a'; } /* '' */
.i-location-current:before { content: '\e89b'; } /* '' */
.i-location-food:before { content: '\e89c'; } /* '' */
.i-location-gas-station:before { content: '\e89d'; } /* '' */
.i-location-hotel:before { content: '\e89e'; } /* '' */
.i-location-marina:before { content: '\e89f'; } /* '' */
.i-location-park:before { content: '\e8a0'; } /* '' */
.i-location-restroom:before { content: '\e8a1'; } /* '' */
.i-location-shopping:before { content: '\e8a2'; } /* '' */
.i-lock-closed:before { content: '\e8a3'; } /* '' */
.i-lock-open:before { content: '\e8a4'; } /* '' */
.i-map:before { content: '\e8a5'; } /* '' */
.i-menu:before { content: '\e8a6'; } /* '' */
.i-mic:before { content: '\e8a7'; } /* '' */
.i-minus-outline:before { content: '\e8a8'; } /* '' */
.i-minus-solid:before { content: '\e8a9'; } /* '' */
.i-mobile-devices:before { content: '\e8aa'; } /* '' */
.i-mood-happy-outline:before { content: '\e8ab'; } /* '' */
.i-mood-happy-solid:before { content: '\e8ac'; } /* '' */
.i-mood-neutral-outline:before { content: '\e8ad'; } /* '' */
.i-mood-neutral-solid:before { content: '\e8ae'; } /* '' */
.i-mood-sad-outline:before { content: '\e8af'; } /* '' */
.i-mood-sad-solid:before { content: '\e8b0'; } /* '' */
.i-mouse:before { content: '\e8b1'; } /* '' */
.i-doc:before { content: '\e8b2'; } /* '' */
.i-music-artist:before { content: '\e8b3'; } /* '' */
.i-music-notes:before { content: '\e8b4'; } /* '' */
.i-music-playlist:before { content: '\e8b5'; } /* '' */
.i-navigation-more:before { content: '\e8b6'; } /* '' */
.i-network:before { content: '\e8b7'; } /* '' */
.i-news-paper:before { content: '\e8b8'; } /* '' */
.i-notification:before { content: '\e8b9'; } /* '' */
.i-notifications:before { content: '\e8ba'; } /* '' */
.i-notifications-outline:before { content: '\e8bb'; } /* '' */
.i-paste:before { content: '\e8bc'; } /* '' */
.i-pause:before { content: '\e8bd'; } /* '' */
.i-pause-outline:before { content: '\e8be'; } /* '' */
.i-pause-solid:before { content: '\e8bf'; } /* '' */
.i-pen-tool:before { content: '\e8c0'; } /* '' */
.i-phone:before { content: '\e8c1'; } /* '' */
.i-photo:before { content: '\e8c2'; } /* '' */
.i-checkmark-outline:before { content: '\e8c3'; } /* '' */
.i-pin:before { content: '\e8c4'; } /* '' */
.i-play:before { content: '\e8c5'; } /* '' */
.i-playlist:before { content: '\e8c6'; } /* '' */
.i-play-outline:before { content: '\e8c7'; } /* '' */
.i-plugin:before { content: '\e8c8'; } /* '' */
.i-portfolio:before { content: '\e8c9'; } /* '' */
.i-printer:before { content: '\e8ca'; } /* '' */
.i-pylon:before { content: '\e8cb'; } /* '' */
.i-question:before { content: '\e8cc'; } /* '' */
.i-queue:before { content: '\e8cd'; } /* '' */
.i-picture:before { content: '\e8ce'; } /* '' */
.i-radar:before { content: '\e8cf'; } /* '' */
.i-radio:before { content: '\e8d0'; } /* '' */
.i-refresh:before { content: '\e8d1'; } /* '' */
.i-reload:before { content: '\e8d2'; } /* '' */
.i-reply:before { content: '\e8d3'; } /* '' */
.i-reply-all:before { content: '\e8d4'; } /* '' */
.i-repost:before { content: '\e8d5'; } /* '' */
.i-save-disk:before { content: '\e8d6'; } /* '' */
.i-screen-full:before { content: '\e8d7'; } /* '' */
.i-search:before { content: '\e8d8'; } /* '' */
.i-send:before { content: '\e8d9'; } /* '' */
.i-servers:before { content: '\e8da'; } /* '' */
.i-share:before { content: '\e8db'; } /* '' */
.i-cogs:before { content: '\e8dc'; } /* '' */
.i-share-alt:before { content: '\e8dd'; } /* '' */
.i-shield:before { content: '\e8de'; } /* '' */
.i-shopping-cart:before { content: '\e8df'; } /* '' */
.i-show-sidebar:before { content: '\e8e0'; } /* '' */
.i-shuffle:before { content: '\e8e1'; } /* '' */
.i-stand-by:before { content: '\e8e2'; } /* '' */
.i-station:before { content: '\e8e4'; } /* '' */
.i-step-backward:before { content: '\e8e5'; } /* '' */
.i-step-forward:before { content: '\e8e6'; } /* '' */
.i-stethoscope:before { content: '\e8e7'; } /* '' */
.i-store-front:before { content: '\e8e8'; } /* '' */
.i-stroke-width:before { content: '\e8e9'; } /* '' */
.i-subdirectory-left:before { content: '\e8ea'; } /* '' */
.i-subdirectory-right:before { content: '\e8eb'; } /* '' */
.i-swap:before { content: '\e8ec'; } /* '' */
.i-tablet:before { content: '\e8ed'; } /* '' */
.i-tag:before { content: '\e8ee'; } /* '' */
.i-target:before { content: '\e8ef'; } /* '' */
.i-text-box:before { content: '\e8f0'; } /* '' */
.i-text-decoration:before { content: '\e8f1'; } /* '' */
.i-thermometer:before { content: '\e8f2'; } /* '' */
.i-thumbs-down:before { content: '\e8f3'; } /* '' */
.i-thumbs-up:before { content: '\e8f4'; } /* '' */
.i-ticket:before { content: '\e8f5'; } /* '' */
.i-time:before { content: '\e8f6'; } /* '' */
.i-timer:before { content: '\e8f7'; } /* '' */
.i-tools-copy:before { content: '\e8f8'; } /* '' */
.i-translate:before { content: '\e8f9'; } /* '' */
.i-trash:before { content: '\e8fa'; } /* '' */
.i-travel:before { content: '\e8fb'; } /* '' */
.i-travel-bus:before { content: '\e8fc'; } /* '' */
.i-travel-car:before { content: '\e8fd'; } /* '' */
.i-travel-case:before { content: '\e8fe'; } /* '' */
.i-travel-taxi-cab:before { content: '\e8ff'; } /* '' */
.i-travel-train:before { content: '\e900'; } /* '' */
.i-travel-walk:before { content: '\e901'; } /* '' */
.i-trophy:before { content: '\e902'; } /* '' */
.i-tuning:before { content: '\e903'; } /* '' */
.i-upload:before { content: '\e904'; } /* '' */
.i-usb:before { content: '\e905'; } /* '' */
.i-user:before { content: '\e906'; } /* '' */
.i-user-add:before { content: '\e907'; } /* '' */
.i-user-group:before { content: '\e908'; } /* '' */
.i-user-solid-circle:before { content: '\e909'; } /* '' */
.i-user-solid-square:before { content: '\e90a'; } /* '' */
.i-vector:before { content: '\e90b'; } /* '' */
.i-video-camera:before { content: '\e90c'; } /* '' */
.i-view-carousel:before { content: '\e90d'; } /* '' */
.i-view-column:before { content: '\e90e'; } /* '' */
.i-view-hide:before { content: '\e90f'; } /* '' */
.i-view-list:before { content: '\e910'; } /* '' */
.i-view-show:before { content: '\e911'; } /* '' */
.i-view-tile:before { content: '\e912'; } /* '' */
.i-volume-down:before { content: '\e913'; } /* '' */
.i-volume-mute:before { content: '\e914'; } /* '' */
.i-volume-off:before { content: '\e915'; } /* '' */
.i-volume-up:before { content: '\e916'; } /* '' */
.i-wallet:before { content: '\e917'; } /* '' */
.i-watch:before { content: '\e918'; } /* '' */
.i-window:before { content: '\e919'; } /* '' */
.i-window-new:before { content: '\e91a'; } /* '' */
.i-window-open:before { content: '\e91b'; } /* '' */
.i-wrench:before { content: '\e91c'; } /* '' */
.i-yin-yang:before { content: '\e91d'; } /* '' */
.i-zoom-in:before { content: '\e91e'; } /* '' */
.i-zoom-out:before { content: '\e91f'; } /* '' */
.i-add-outline:before { content: '\e920'; } /* '' */
.i-add-solid:before { content: '\e921'; } /* '' */
.i-adjust:before { content: '\e922'; } /* '' */
.i-airplane:before { content: '\e923'; } /* '' */
.i-album:before { content: '\e924'; } /* '' */
.i-align-center:before { content: '\e925'; } /* '' */
.i-align-justified:before { content: '\e926'; } /* '' */
.i-align-left:before { content: '\e927'; } /* '' */
.i-align-right:before { content: '\e928'; } /* '' */
.i-docs:before { content: '\f0c5'; } /* '' */
.i-doc-text:before { content: '\f0f6'; } /* '' */
.i-mic-mute:before { content: '\f131'; } /* '' */
.i-doc-inv:before { content: '\f15b'; } /* '' */
.i-doc-text-inv:before { content: '\f15c'; } /* '' */
.i-file-pdf:before { content: '\f1c1'; } /* '' */
.i-file-word:before { content: '\f1c2'; } /* '' */
.i-file-excel:before { content: '\f1c3'; } /* '' */
.i-file-powerpoint:before { content: '\f1c4'; } /* '' */
.i-file-image:before { content: '\f1c5'; } /* '' */
.i-file-archive:before { content: '\f1c6'; } /* '' */
.i-file-audio:before { content: '\f1c7'; } /* '' */
.i-file-video:before { content: '\f1c8'; } /* '' */
.i-file-code:before { content: '\f1c9'; } /* '' */
.i-facebook:before { content: '\f300'; } /* '' */
.i-facebook-rect:before { content: '\f301'; } /* '' */
.i-twitter:before { content: '\f302'; } /* '' */
.i-twitter-bird:before { content: '\f303'; } /* '' */
.i-github-text:before { content: '\f307'; } /* '' */
.i-github:before { content: '\f308'; } /* '' */
.i-skype:before { content: '\f30b'; } /* '' */
.i-vimeo-rect:before { content: '\f30e'; } /* '' */
.i-vimeo:before { content: '\f30f'; } /* '' */
.i-tumblr-rect:before { content: '\f310'; } /* '' */
.i-tumblr:before { content: '\f311'; } /* '' */
.i-linkedin:before { content: '\f31a'; } /* '' */
.i-linkedin-rect:before { content: '\f31b'; } /* '' */
.i-instagram:before { content: '\f31e'; } /* '' */
.i-instagram-filled:before { content: '\f31f'; } /* '' */
.i-win8:before { content: '\f325'; } /* '' */
.i-bandcamp:before { content: '\f32b'; } /* '' */
.i-codepen:before { content: '\f32c'; } /* '' */
